/***************************************************
Add your Google Fonts
Update ALL the named colours to create a monochromatic scheme
Style the menus - one horizontally and one vertically
Add the hover/active effects to your menu items
***************************************************/
@import url('https://fonts.googleapis.com/css?family=Roboto')
@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
    /* ADD the Google sans-serif font to this font stack */
    font-family: 'Roboto', sans-serif;
}
html, body{
    background-color: #8A47CC;
}
h1{
    font-size: 6.854rem;
    /* ADD the Google serif font to this font stack */
    font-family: 'Aref+Ruqaa', Palatino, serif; 
    padding: 1rem 2rem;
}
h2{
    font-size: 4.23rem;
    /* ADD the Google serif font to this font stack */
    font-family: 'Aref+Ruqaa', Palatino, serif;
    padding: 1rem 2rem;
}
nav li{
    font-size: 2.618rem;
}
p{
    font-size: 1.618rem;
    padding: 1rem 2rem;
}
.wrapper{
    max-width: 1400px; 
    width: 80%;
    margin: 0 auto;
    background-color: #69527F;
    color: #AD58FF;
}
header{
    border-bottom: 0.8rem solid #AD58FF;
    background-color: #D3A5FF;
    color: #562C7F;
}
.menu-h{
    width: 100%;
}
    .menu-h li{
        /* style the list items to remove the bullets 
        and line up horizontally
        and take up 20% of the width of the ul */
		list-style-type: none;
		float: left;
		width: 20%;
		
    }
        .menu-h a,
        .menu-h a:link,
        .menu-h a:visited{
            /* style the anchors to fill the entire width of the li 
            make sure there is padding around your text */
			padding: 5px;
			width: 100%; 
			height: 100%;
			
        }
        .menu-h a:hover,
        .menu-h a:active{
            
        }
.menu-v{
    width: 20%;
    float:left;
}
    .menu-v li{
        /* style the list items to remove the bullets 
        and line up vertically
        and take up 100% of the width of the ul */
		text-align: center;
		list-style-type: none;
		width: 100%;
    }
        .menu-v a,
        .menu-v a:link,
        .menu-v a:visited{
            /* style the anchors to fill the entire width of the li */
        }
        .menu-v a:hover,
        .menu-v a:active{
            
        }
main{
    width:80%;
    float: right;
}
footer{
    clear:both;
}